.ParagraphBody{
    height: auto;
    width: auto;
    border-radius: 20px;
    background-color: #efefef;
    border-style: none;
    margin: 2%;
    padding: 1%;
    outline: none;
    font-size: 18px;
    box-shadow: #b3b3b3 1px 1px 50px;
}