.ParagraphBody{
    height: auto;
    width: auto;
    align-self: center;
    border-radius: 10px;
    background-color: #efefef;
    border-style: none;
    margin-left: 4%;
    margin-right: 4%;
    padding: 2%;
    outline: none;
    font-size: 17px;
    font-family: 'Roboto Mono', monospace;
    line-height: 1.5;
    text-align: justify;
}