.App {
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: #b3b3b3 1px 1px 50px;
  align-items: center;
  width: 70%;
  
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 700px;
}


